<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <!--MongoLAB Settings-->
    <add key="MongoDBURL" value="mongodb://STrackerServer:stracker_admin@ds057857.mongolab.com:57857/appharbor_1e0e7e03-49be-42e9-b656-8f3c64ab59f0" />
    <!--Immutable collections names-->
    <add key="RatingsCollection" value="Ratings" />
    <add key="CommentsCollection" value="Comments" />
    <add key="UsersCollection" value="Users" />
    <add key="UsersSynopsisCollection" value="Users-Synopsis" />
    <add key="GenresCollection" value="Genres" />
    <add key="GenresSynopsisCollection" value="Genres-Synopsis" />
    <add key="AllTvShowsCollection" value="TvShows" />
    <add key="TvShowNewEpisodesCollection" value="NewEpisodes" />
    <!--RabbitMQ Settings-->
    <add key="RabbitMQUri" value="amqp://zzlregsv:tgZCvZgYDRB-PkIllxsdM-6Mxq8m9pyt@bunny.cloudamqp.com/zzlregsv"/>
    <!--Commands names-->
    <add key="TvShowCommentCmd" value="tvShowCommentAdd"/>
    <add key="EpisodeCommentCmd" value="episodeCommentAdd"/>
    <add key="TvShowAddByIdCmd" value="id"/>
    <add key="TvShowAddByNameCmd" value="name"/>
    <!--TheTvDb Settings-->
    <add key="TvDbAPI" value="5C6AA8B2777A033F" />
    <add key="TvDbMirrorPath" value="http://thetvdb.com" />
    <add key="UpdateType" value="updates_day"/>
    <!--The Cloudinary Settings-->
    <add key="Cloudinary:Cloud" value="hci8cyn9b" />
    <add key="Cloudinary:ApiKey" value="243598618982396" />
    <add key="Cloudinary:ApiSecret" value="3sBf1_5A_0Z2_B5J0dGf1ONOek4"/>
    <!-- Detect Language Settings-->
    <add key="DL:ApiKey" value="85aef28d67a41b9c2bc67a75ac73d493" />
  </appSettings>
</configuration>